.pf-m-redhat-font .pf-c-content {
    --pf-c-content--FontSize: var(--pf-global--FontSize--lg);
}

.sc-page .pf-c-content {
    font-size: var(--pf-global--FontSize--lg);
}

.sc-documentation {
    background-color: var(--pf-global--BackgroundColor--light-100);
    margin-top: var(--pf-global--spacer--lg);
}
.sc-documentation h3 {
    margin-bottom: 0;
}
.sc-documentation .pf-c-content {
    font-size: var(--pf-global--FontSize--md);
}

.sc-documentation__heading {
    border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
    font-size: var(--pf-global--FontSize--xl);
    margin-top: var(--pf-global--spacer--lg);
    padding: var(--pf-global--spacer--md);
}

.sc-documentation__example {
    padding: 1rem;
}

.sc-documentation__code {
    background-color: var(--pf-global--BackgroundColor--100);
    font-size: var(--pf-global--FontSize--lg);
    max-height: 37.5rem;
    overflow: auto !important;
    padding: 10px;
}

.sc-documentation__code pre.prettyprint {
    border: none;
}

.sc-documentation__code-block {
    margin-bottom: var(--pf-global--spacer--md);
}
.sc-documentation__code-block:last-child {
    margin-bottom: 0;
}

.sc-data-list__blue-box {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    color: #004e8a;
    background-color: #def3ff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.sc-user-photo-75 {
    position: relative;
    background: #fff;
    padding: 3px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.sc-user-photo-75 img {
    width: 75px;
    border-radius: 50%;
}